body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-tab > a {
  margin: 10px 20px;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: peachpuff;
  align-items: center;
  height: 55px;
}

.vanlife {
  margin-left: 25px;
  font-weight: 900;
  text-decoration: none;
  color: black;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

footer > h5 {
  display: flex;
  background-color: rgb(75, 75, 75);
  color: rgb(206, 206, 206);
  height: 60px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.home-div-big {
  padding-bottom: 70px;
  background-image: url("./images/van_overlooking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-div {
  width: 90%;
  color: white;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-shadow: 2px 1px black;
}

.home-div > h3, p {
  margin-bottom: 40px;
}

.home-div > h3 {
  font-size: 40px;
}

.home-div > p {
  font-size: 21px;
}

.home-find-btn,
.login-btn,
.x-btn {
  background-color: orange;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 20px 180px;
  border-radius: 9px;
  font-weight: 600;
}

.x-btn {
  padding: 5px 10px;
  border-radius: 9px;
  font-weight: 600;
  margin-right: 5px;
}

.about-img {
  width: 100%;
}

.about-div-big {
  padding: 0;
  padding-bottom: 70px;
  background-color: antiquewhite;
}

.about-div {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-div > h4 {
  font-size: 35px;
  margin-bottom: 20px;
}

.about-div > p {
  font-size: 20px;
  margin-bottom: 20px;
}

.about-card {
  background-color: rgb(255, 172, 113);
  padding: 5px 30px;
  border-radius: 8px;
}

.about-card > h5 {
  font-size: 18px;
}

.about-vans-btn {
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 12px 19px;
  margin-bottom: 20px;
}

.avatar-icon {
  width: 22px;
}

.login-div-big,
.login-form-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-div-big > h2 {
  font-size: 2rem;
}

.login-input-email,
.login-input-pass {
  padding: 13px 15px;
  border-radius: 8px;
  border-style: none;
  width: 90%;
}

.login-input-pass {
  margin-bottom: 20px;
}

.red-message {
  color: red;
}

.vans-div-big {
  margin-bottom: 60px;
  padding: 1px 25px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 15px;
  padding-top: 0;
}

.vans-img {
  width: 80%;
  border-radius: 6px;
}

.vans-div > h3 {
  font-weight: 800;
  font-size: 1.5rem;
}

.vans-info > p {
  margin: 5px 1px;
  font-weight: 600;
  font-size: 20px;
  padding-left: 5px;
}

.vans-info {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vans-simple {
  background-color: coral;
}

.vans-rugged {
  background-color: green;
}

.vans-luxury {
  background-color: rgb(6, 7, 8);
}

.vans-simple,
.vans-rugged,
.vans-luxury,
.vans-type-all {
  padding: 4px 15px;
  border-radius: 5px;
  color: aliceblue;
  margin-right: 2px;
}

.vans-type-all {
  color: aliceblue;
  background-color: rgb(42, 42, 255);
}

.vans-type {
  text-decoration: none;
  cursor: pointer;
  margin-right: 2px;
  background-color: aliceblue;
  color: black;
  padding: 4px 15px;
  border-radius: 5px;
}  

.vandetail-div {
  padding: 20px;
  margin-bottom: 60px;
}

.vandetail-div > img {
  width: 90%;
  border-radius: 5px;
}

.vandetail-more {
  margin-top: 10px;
}

.vandetail-more > span {
  margin-right: 20px;
}

.vandetail-more > p {
  width: 89%;
}

.host-nav {
  background-color: bisque;
  justify-content: left;
}

.host-nav > a,
.host-vandetail-nav > a {
  text-decoration: none;
  margin: 10px 20px;
  color: black;
}

a.active-link,
.host-nav > a:hover
.host-vandetail-nav > a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.host-van-div {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 30px 30px;
  border-radius: 10px;
}

.host-van-div-small {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 23px;
}

.host-van-div-small > h4 {
  font-size: 23px;
  margin: 0;
  padding-bottom: 20px;
}

.host-van-img {
  width: 120px;
  margin: 10px;
  border-radius: 7px;
}

.host-van-div-big {
  margin: 20px 30px;
  margin-bottom: 80px;
}

.host-van-div-big > h3 {
  font-size: 25px;
}

.host-vandetail-back {
  margin-left: 30px;
  text-decoration: none;
  color: black;
}

.vandetail-biggest-div {
  margin-top: 20px;
}

.host-vandetail-div-big {
  margin: 20px 30px;
  background-color: aliceblue;
}

.host-vandetail-div-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
}

.host-vandetail-div-small-h3 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.host-vandetail-div-small-span {
  font-size: 20px;
}

.host-vandetail-img {
  width: 190px;
  padding: 15px;
  border-radius: 25px;
}

.host-vandetail-nav {
  background-color: inherit;
  justify-content: left;
}

.host-vandetail-nav > a {
  margin: 1px 15px;
}

.host-vandetails-div {
  margin: 10px 10px;
  margin-bottom: 70px; 
  padding-bottom: 20px;
}

.page404-div {
  padding: 10px 30px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page404-returnhome {
  border-style: solid;
  border-radius: 7px;
  padding: 1px 20px;
  background-color: black;
  color: aliceblue;
  border-color: black;
  width: 80%;
  justify-content: center;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}